.top {
    
    font-size: 12px;
    position: sticky;
    bottom: -120px;      
    margin-right: 10px; 
    place-self: end;
    /* margin-top: calc(10vh + var(--offset)); */
  
    /* visual styling */
    text-decoration: none;
    padding: 10px;
    font-family: sans-serif;
    color: #fff;
    background: #000;
    border-radius: 100px;
    /* white-space: nowrap; */
  }